* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {

  background-color: #0D325A;
}

.header-container {
  margin: 0 auto;
  width: 80%;
  height: 500px;
  background-color: #0D325A;
  border: 1px solid green;
}

main {
}

.main-header-container {
  width: 100%;
  background-color: #d3d3d3;
}

.main-header {
  height: 150px;
  width: 80%;
  margin: 0 auto;
  background-color: #d3d3d3;
  border: 1px solid green;
}

.main-sections-container {
  width: 100%;
  background-color: #fff;
}

.main-top-section {
  height: 538px;
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid green;
}

.main-bottom-section {
  height: 463px;
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid green;
}

.footer {
  height: 134px;
  width: 100%;
  background-color: #d3d3d3;
}
