* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: museo-sans, sans-serif;
  font-style: normal;
  font-weight: 100;
}

header {
  background-color: #0D325A;
  /* height: 500px; */
  border: 1px solid green;

}

a {
  color: #fff;
}

.header-container {
  width: 100%;
  margin: 0 auto;
  background-image: url(../img/oldman.png);
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: 103% 110%;
  height: 500px;
  border: 1px solid green;
}

.header-row {
  margin: 0 auto;
  width: 80%;
  height: 70px;
  line-height: 70px;
  background-color: #0D325A;
  border: 1px solid green;
}

.header-row::after {
  content: '';
  display: table;
  clear: both;
}

.header-left {
  float: left;
}

.header-nav-left ul,
.header-nav-right ul {
  list-style: none;
}
.header-nav-left ul li,
.header-nav-right ul li {
  display: inline;
  padding: 0 20px;
}
.header-nav-left ul li a,
.header-nav-right ul li a {
  text-decoration: none;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}

nav a img {
 padding-right: 35px;
 transform: translateY(10px);
}

.header-right {
  float: right;
}

.header-nav-right ul li:last-child  {
  padding: 5px 5px;
  background-color: #7cbb03;
  text-decoration: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}
.login {
  padding: 5px 30px;
  border: 1px solid white;
  border-radius: 5px;

}

.header-bottom {
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: 430px;
  border: 1px solid green;
}

.header-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
}

.header-title h1 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 45px;
  font-weight: 500;
}

.title-button {
  padding: 15px 10px;
  background-color: #7cbb03;
  text-decoration: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

/* FINE HEADER */
/* INIZIO MAIN */

.main-header-container {
  width: 100%;
  background-color: #d3d3d3;
}

.main-header {
  position: relative;
  height: 150px;
  width: 80%;
  margin: 0 auto;
  background-color: #d3d3d3;
  border: 1px solid green;
}

.main-title {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-title h3 {
  font-size: 24px;
  font-weight: 300;
  margin: 10px 0;
}

.main-title p {
  color: rgb(153, 153, 153);
  font-size: 15px;
  font-weight:300;
}

.main-sections-container {
  width: 100%;
  background-color: #fff;
}

.main-top-section {
  height: 538px;
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid green;
}

.main-bottom-section {
  height: 463px;
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid green;
}
/* FINE MAIN */
/* INIZIO FOOTER */
.footer {
  height: 134px;
  width: 100%;
  background-color: #d3d3d3;
}
