* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: museo-sans, sans-serif;
  font-style: normal;
  font-weight: 100;
}

.leading-header {
  background-color: #0D325A;
  /* height: 500px; */

}

a {
  color: #fff;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.header-container {
  width: 100%;
  margin: 0 auto;
  background-image: url(../img/oldman.png);
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: 103% 110%;
  height: 500px;
}

.header-row {
  margin: 0 auto;
  width: 80%;
  height: 70px;
  line-height: 70px;
  background-color: #0D325A;
  /* border: 1px solid green; */
}

.header-left {
  float: left;
}

.header-nav-left ul,
.header-nav-right ul {
  list-style: none;
}
.header-nav-left ul li,
.header-nav-right ul li {
  display: inline;
  padding: 0 20px;
}
.header-nav-left ul li a,
.header-nav-right ul li a {
  text-decoration: none;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}

nav a img {
 padding-right: 35px;
 transform: translateY(10px);
}

.header-right {
  float: right;
}

.header-nav-right ul li:last-child  {
  padding: 5px 5px;
  background-color: #7cbb03;
  text-decoration: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}
.login {
  padding: 5px 30px;
  border: 1px solid white;
  border-radius: 5px;
}

.header-bottom {
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: 430px;
  /* border: 1px solid green; */
}

.header-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
}

.header-title h1 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 45px;
  font-weight: 500;
}

.title-button {
  padding: 15px 10px;
  background-color: #7cbb03;
  text-decoration: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

/* FINE HEADER */
/* INIZIO MAIN */

.main-header-container {
  width: 100%;
  background-color: #d3d3d3;
}

.main-header {
  position: relative;
  height: 150px;
  width: 80%;
  margin: 0 auto;
  background-color: #d3d3d3;

}

.main-title {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-title h3 {
  font-size: 24px;
  font-weight: 300;
  margin: 10px 0;
}

.main-title p {
  color: rgb(153, 153, 153);
  font-size: 15px;
  font-weight:300;
}

.main-sections-container {
  width: 100%;
  background-color: #fff;
}

.main-top-section {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  border-bottom: 1px solid #898989;
  border-width: 80%;
}

.main-col {
  float: left;
  width: calc(100% / 3);
  text-align: center;
  padding: 25px 15px;

}

.main-col img {
  width: 150px;
  height: 160px;
  margin: 20px 0;
}

.main-col h4 {
  color: rgb(127, 184, 2);
  font-size: 25px;
  font-weight: 500;
  min-height: 50px;
  margin: 0 0 8px;
}

.main-col p {
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  color: #b2b2b2;
  padding: 0 30px;
  text-align: center;
}

hr {
  width: 75px;
  height: 2px;
  margin: 16px auto;
  border-top: 2px solid #d3d3d3;
}

.main-bottom-section {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  /* border: 1px solid green; */
}

.main-bottom-left {
  float: left;
  width: 50%;
  height: 400px;
  background-image: url(../img/mountain.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 25px 0;
}

.main-bottom-right {
  float: left;
  width: 30%;
  text-align: left;
  margin: 25px 0;
}

.main-bottom-right h2 {
  color: #4a4a4a;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
}

.main-bottom-right p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 15px;
  line-height: 21px;
  color: #999;
}

.main-bottom-right a {
  display: inline-block;
 color:  #98c8f8;
 line-height:24px;
 margin-top:20px;
}
/* FINE MAIN */
/* INIZIO FOOTER */
.footer {
  height: 134px;
  width: 100%;
  background-color: #d3d3d3;
}

.footer-container {
  width: 80%;
  margin: 0 auto;
}

.footer-left {
  float: left;
  line-height: 134px;
  width: 50%;
  /* background-color: pink; */
}

.footer-left h2 {
 font-size:30px;
}

.footer-right {
  float: right;
  height: 134px;
  width: 50%;
  /* background-color: yellow; */
}
